<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6d79fc">  <td>19/12/07 10:30:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BrowserInvokeTestcase.Browserset(java.lang.String, java.lang.String)[pri:0, instance:com.Flipkart.Testcase.BrowserInvokeTestcase@2d710f1a]">Browserset</td> 
  <td>main@520232556</td>   <td></td> </tr>
<tr bgcolor="6d79fc">  <td>19/12/07 10:30:13</td>   <td>-1795</td> <td>&nbsp;</td><td title="&gt;&gt;BrowserInvokeTestcase.setData()[pri:0, instance:com.Flipkart.Testcase.BrowserInvokeTestcase@2d710f1a]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520232556</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/12/07 10:30:13</td>   <td>-1802</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:com.Flipkart.Testcase.BrowserInvokeTestcase@2d710f1a]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520232556</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/12/07 10:30:13</td>   <td>-1794</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:com.Flipkart.Testcase.BrowserInvokeTestcase@2d710f1a]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520232556</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>19/12/07 10:31:03</td>   <td>47943</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:com.Flipkart.Testcase.BrowserInvokeTestcase@2d710f1a]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@520232556</td>   <td></td> </tr>
</table>
