<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>19/12/09 20:42:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BrowserInvokeTestcase.Browserset(java.lang.String, java.lang.String)[pri:0, instance:com.Flipkart.Testcase.BrowserInvokeTestcase@64bf3bbf]">Browserset</td> 
  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="759b6d">  <td>19/12/09 20:42:30</td>   <td>28777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductSearchTestcase.ProjectSearch(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.Flipkart.Testcase.ProductSearchTestcase@6b09bb57]">ProjectSearch</td> 
  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>19/12/09 20:42:00</td>   <td>-1495</td> <td>&nbsp;</td><td title="&gt;&gt;BrowserInvokeTestcase.setData()[pri:0, instance:com.Flipkart.Testcase.BrowserInvokeTestcase@64bf3bbf]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="759b6d">  <td>19/12/09 20:42:30</td>   <td>28652</td> <td>&nbsp;</td><td title="&gt;&gt;ProductSearchTestcase.setData()[pri:0, instance:com.Flipkart.Testcase.ProductSearchTestcase@6b09bb57]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>19/12/09 20:42:59</td>   <td>57344</td> <td>&nbsp;</td><td title="&gt;&gt;BrowserCloseTestcase.setData()[pri:0, instance:com.Flipkart.Testcase.BrowserCloseTestcase@eec5a4a]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/12/09 20:41:59</td>   <td>-2043</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:com.Flipkart.Testcase.BrowserCloseTestcase@eec5a4a]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/12/09 20:42:00</td>   <td>-1482</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:com.Flipkart.Testcase.BrowserInvokeTestcase@64bf3bbf]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/12/09 20:42:30</td>   <td>28652</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:com.Flipkart.Testcase.ProductSearchTestcase@6b09bb57]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="c682b1">  <td>19/12/09 20:42:59</td>   <td>57388</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:com.Flipkart.Testcase.BrowserCloseTestcase@eec5a4a]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="85d8b6">  <td>19/12/09 20:43:00</td>   <td>58277</td> <td title="&lt;&lt;BrowserCloseTestcase.teardown()[pri:0, instance:com.Flipkart.Testcase.BrowserCloseTestcase@eec5a4a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
</table>
